{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
</head>
<body>
    <p >Dear {{username}},</p>

    <p>Thank you for [action you're confirming]. Please click the button below to confirm:</p>

    <a href="{{link}}" style="display: inline-block; padding: 10px 20px; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 5px;">Confirm Now</a>

    <p>If the button above doesn't work, you can also click the following link:</p>

    <p><a href="{{link}}">[Confirmation Link]</a></p>

    <p>Thank you!</p>

    <p>Sincerely,<br>Your Name</p>
</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
</head>
<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #f8f8f8;
    }
</style>

<body>
    <div class="container">
        <p>Dear {{username}},</p>

        <p>Thank you for [action you're confirming]. Please click the button below to confirm:</p>

        <a href="{{link}}"
            style="display: inline-block; padding: 10px 20px; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 5px;">Confirm
            Now</a>

        <p>If the button above doesn't work, you can also click the following link:</p>

        <p><a href="{{link}}">[Confirmation Link]</a></p>

        <p>Thank you!</p>

        <p>Sincerely,<br>Your Name</p>
    </div>

</body>

</html>